
<article>
  
 <center> <%= image_tag "Mute_Swan_heads.jpg", :class => 'main-image', :alt => "Mute Swans" %> 
    <h4> You can find here links to information on a range of characteristic species
    that are found in Mole Valley. </h4>
  </p>
</center>

<section id = "maintext">
  <h2><%= link_to "Birds", birds_path %></h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum justo vitae dolor faucibus ultrices. Ut vel urna eu purus volutpat euismod ornare vel elit. Donec ornare tristique eros non feugiat. Cras pharetra congue mauris. Mauris dictum, urna vitae vehicula pellentesque, quam urna ullamcorper mauris, vitae adipiscing nulla lorem non justo. 
  </p>

  <p>
  <h2>Bats</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum justo vitae dolor faucibus ultrices. Ut vel urna eu purus volutpat euismod ornare vel elit. Donec ornare tristique eros non feugiat. Cras pharetra congue mauris. Mauris dictum, urna vitae vehicula pellentesque, quam urna ullamcorper mauris, vitae adipiscing nulla lorem non justo. 
  </p>


  <h2><%= link_to "Butterflies", butterflies_path %></h2>

  <p>
    About 60 different kinds of butterfly occur in Britain. More than half of them can be
    seen in Mole Valley, including several nationally scarce butterflies of chalk
    grassland and woodland. The high number of species found locally reflects the location of Mole
    Valley in the warm south east corner of England, and the variety of habitats.
    Fewer species can survive in the north of Britain, although some are moving
    northwards as a result of climate change.
  </p>

  <h2>Dragonflies and Damselflies</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum justo vitae dolor faucibus ultrices. Ut vel urna eu purus volutpat euismod ornare vel elit. Donec ornare tristique eros non feugiat. Cras pharetra congue mauris. Mauris dictum, urna vitae vehicula pellentesque, quam urna ullamcorper mauris, vitae adipiscing nulla lorem non justo. 
  </p>


  <h2><%= link_to "Fungi", fungi_path %></h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum justo vitae dolor faucibus ultrices. Ut vel urna eu purus volutpat euismod ornare vel elit. Donec ornare tristique eros non feugiat. Cras pharetra congue mauris. Mauris dictum, urna vitae vehicula pellentesque, quam urna ullamcorper mauris, vitae adipiscing nulla lorem non justo. 
  </p>

  <h2>Moths</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum justo vitae dolor faucibus ultrices. Ut vel urna eu purus volutpat euismod ornare vel elit. Donec ornare tristique eros non feugiat. Cras pharetra congue mauris. Mauris dictum, urna vitae vehicula pellentesque, quam urna ullamcorper mauris, vitae adipiscing nulla lorem non justo. 
  </p>

  <h2><%= link_to "Plants", plants_path %></h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum justo vitae dolor faucibus ultrices. Ut vel urna eu purus volutpat euismod ornare vel elit. Donec ornare tristique eros non feugiat. Cras pharetra congue mauris. Mauris dictum, urna vitae vehicula pellentesque, quam urna ullamcorper mauris, vitae adipiscing nulla lorem non justo. 
  </p>
</section>
</article>